.git
.gitignore
.env
.env.prod
.env.test
.env.dev
.venv/
__pycache__/
*.pyc
docker-compose.yml
docker-compose*.yml
README.md
.scripts
.flake8

staticfiles/
.vscode/

# Functional test
msedgedriver_downloader.exe
msedgedriver.exe
.github/
