{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block content %}
{% load django_bootstrap5 %}
{% load custom_filters %}

<main class="content mb-5">
  <div class="container-fluid">
    <div class="p-1 mt-3">
      <div class="display-5">Clientes</div>
      <hr />
      <p class="d-inline-flex gap-1">
        <a class="btn btn-light" href="{% url 'adicionar_cliente' %}" role="button">
          Novo Cliente
        </a>
      </p>
    </div>

    <div class="p-1 overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>WhatsApp</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>
              <a href="{% url 'cliente' cliente.cpf %}"> {{ cliente.cpf }} </a>
            </td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
            <td>{{ cliente.telefone_whatsapp|format_phone }}</td>
            <td>{{ cliente.telefone|format_phone }}</td>
            <td>{{ cliente.email }}</td>
            <td>
              <a
                href="{% url 'atualizar_cliente' cliente.cpf %}"
                class="btn btn-warning"
                atitle="Editar"
                >{% bs_icon 'pencil-square' %}</a
              >
              <a
                href="{% url 'excluir_cliente' cliente.cpf %}"
                class="btn btn-danger"
                atitle="Excluir"
                >{% bs_icon 'file-x' %}</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Controles de Paginação -->
    <div class="pagination">
      <br />
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Primeira">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
    
          {% for num in paginator.page_range %}
          <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}
    
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Próxima">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

  </div>
</main>
{% endblock content %}
